## Generated Population Analysis

In [2]:
# Import necessary libraries

import pandas as pd
import numpy as np
import plotnine as gg

In [3]:
# Constants
DATA_DIR = "../artifact/LSTM/04_30_2025_15_55_12"
FILE_NAME = "1_False_None_decoded.parquet"

In [6]:
df = pd.read_parquet(f"{DATA_DIR}/generated/{FILE_NAME}")
test = df.iloc[:, :5].head(10)
test

,house_occupation_type,number_of_vehicles,household_size,house_type,number_of_bikes
0,house_occupation_type_renter,number_of_vehicles_1,household_size_2,house_type_little_col,number_of_bikes_1-2
1,house_occupation_type_renter,number_of_vehicles_0,household_size_2,house_type_big_col,number_of_bikes_0
2,house_occupation_type_renter,number_of_vehicles_2,household_size_4,house_type_big_col,number_of_bikes_1-2
3,house_occupation_type_renter,number_of_vehicles_0,household_size_1,house_type_little_col,number_of_bikes_0
4,house_occupation_type_renter,number_of_vehicles_1,household_size_2,house_type_little_col,number_of_bikes_0
5,house_occupation_type_owner,number_of_vehicles_1,household_size_2,house_type_big_col,number_of_bikes_0
6,house_occupation_type_owner,number_of_vehicles_2,household_size_5,house_type_big_col,number_of_bikes_1-2
7,house_occupation_type_renter,number_of_vehicles_1,household_size_1,house_type_big_col,number_of_bikes_0
8,house_occupation_type_renter,number_of_vehicles_1,household_size_1,house_type_big_col,number_of_bikes_5+
9,house_occupation_type_renter,number_of_vehicles_2,household_size_5,house_type_big_col,number_of_bikes_1-2

In [ ]:
test.iloc[]

In [5]:
y_train = np.load(f"{DATA_DIR}/data/Y_train_data_as_sequence.npy", allow_pickle=True)
y_train.shape

(128286, 3)

In [6]:
pd.Series(y_train[:, 0]).value_counts(normalize=True)

2     0.245514
5     0.212884
1     0.093611
3     0.089129
4     0.059749
8     0.056772
6     0.055696
7     0.054301
10    0.054012
9     0.039279
11    0.029652
12    0.009401
Name: proportion, dtype: float64

In [8]:
import torch
x = torch.tensor([[1, 2, 3, 4],[5, 6, 7, 8], [9, 10, 11, 12]])
x = torch.isin(x, torch.tensor([1, 3, 5], device=x.device))
print(x)
mask = ~x.unsqueeze(1).unsqueeze(2)
print(mask)

tensor([[ True, False,  True, False],
        [ True, False, False, False],
        [False, False, False, False]])
tensor([[[[False,  True, False,  True]]],


        [[[False,  True,  True,  True]]],


        [[[ True,  True,  True,  True]]]])