## Generated Population Analysis

In [24]:
# Import necessary libraries

import pandas as pd
import numpy as np
import plotnine as gg

In [28]:
# Constants
DATA_DIR = "../artifact/ActionGPT"
FILE_NAME = "1_False_None_decoded.parquet"

In [29]:
df = pd.read_parquet(f"{DATA_DIR}/generated/{FILE_NAME}")
df.head(1000)

,household_size,number_of_bikes,number_of_vehicles,house_occupation_type,has_internet,house_type,link_ref_person,socioprofessional_class,is_adolescent,employed,...,distance_41,action_42,duration_42,distance_42,action_43,duration_43,distance_43,action_44,duration_44,distance_44
0,household_size_2,number_of_bikes_1-2,number_of_vehicles_1,house_occupation_type_renter,has_internet_True,house_type_little_col,link_ref_person_spouse,socioprofessional_class_employee,is_adolescent_False,employed_True,...,0000.0,walk,00h05,0000.5,walk,00h05,0000.5,walk,00h05,0000.5
1,household_size_2,number_of_bikes_0,number_of_vehicles_0,house_occupation_type_renter,has_internet_True,house_type_big_col,link_ref_person_housemate,socioprofessional_class_unemployed_never_worked,is_adolescent_False,employed_False,...,<DISTANCE_EOT>,<ACTION_EOT>,<DURATION_EOT>,<DISTANCE_EOT>,<ACTION_EOT>,<DURATION_EOT>,<DISTANCE_EOT>,<ACTION_EOT>,<DURATION_EOT>,<DISTANCE_EOT>
2,household_size_4,number_of_bikes_1-2,number_of_vehicles_2,house_occupation_type_renter,has_internet_True,house_type_big_col,link_ref_person_spouse,socioprofessional_class_employee,is_adolescent_False,employed_False,...,0000.0,home,00h05,0000.5,walk,00h05,0000.5,walk,00h05,0000.5
3,household_size_1,number_of_bikes_0,number_of_vehicles_0,house_occupation_type_renter,has_internet_True,house_type_little_col,link_ref_person_ref_person,socioprofessional_class_unemployed_never_worked,is_adolescent_False,employed_False,...,0001.0,pt,06h00,0001.0,pt,06h00,0001.0,pt,06h00,0001.0
4,household_size_2,number_of_bikes_0,number_of_vehicles_1,house_occupation_type_renter,has_internet_True,house_type_little_col,link_ref_person_child,socioprofessional_class_unemployed_never_worked,is_adolescent_True,employed_False,...,<DISTANCE_EOT>,<ACTION_EOT>,<DURATION_EOT>,<DISTANCE_EOT>,<ACTION_EOT>,<DURATION_EOT>,<DISTANCE_EOT>,<ACTION_EOT>,<DURATION_EOT>,<DISTANCE_EOT>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,household_size_2,number_of_bikes_1-2,number_of_vehicles_2,house_occupation_type_renter,has_internet_True,house_type_embracing,link_ref_person_spouse,socioprofessional_class_employee,is_adolescent_False,employed_True,...,0000.0,walk,06h00,0000.0,walk,06h00,0000.0,walk,06h00,0000.0
996,household_size_4,number_of_bikes_5+,number_of_vehicles_2,house_occupation_type_owner,has_internet_True,house_type_embracing,link_ref_person_child,socioprofessional_class_unemployed_never_worked,is_adolescent_True,employed_False,...,<DISTANCE_EOT>,education,05h30,0000.0,education,08h00,0000.0,education,08h00,0000.0
997,household_size_3,number_of_bikes_3-4,number_of_vehicles_3,house_occupation_type_owner,has_internet_True,house_type_embracing,link_ref_person_ref_person,socioprofessional_class_retired,is_adolescent_False,employed_False,...,0000.5,car,00h05,0000.5,car,00h05,0000.5,car,00h05,0000.5
998,household_size_4,number_of_bikes_3-4,number_of_vehicles_2,house_occupation_type_owner,has_internet_True,house_type_embracing,link_ref_person_spouse,socioprofessional_class_worker,is_adolescent_False,employed_True,...,0002.0,walk,00h05,0080.0,walk,00h05,0080.0,walk,00h05,0080.0
999,household_size_4,number_of_bikes_3-4,number_of_vehicles_1,house_occupation_type_public_housing,has_internet_True,house_type_embracing,link_ref_person_child,socioprofessional_class_unemployed_never_worked,is_adolescent_True,employed_False,...,0000.0,<ACTION_EOT>,<DURATION_EOT>,0000.0,home,<DURATION_EOT>,0000.0,home,<DURATION_EOT>,0000.0

In [30]:
y_train = np.load(f"{DATA_DIR}/data/Y_train_data_as_sequence.npy", allow_pickle=True)
y_train.shape

(128286, 3)

In [39]:
pd.Series(y_train[:, 0]).value_counts(normalize=True)

2     0.245514
5     0.212884
1     0.093611
3     0.089129
4     0.059749
8     0.056772
6     0.055696
7     0.054301
10    0.054012
9     0.039279
11    0.029652
12    0.009401
Name: proportion, dtype: float64